.footer {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footerApp{
  background-color: #282c34;
  padding: 20px 0;
}
.footerApp span{
  float: right;
  margin: 0 5%;
  color: azure;
}
