.router-header {
  /* background: rgb(187, 224, 224); */
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: conic-gradient(
    from 90deg at 50% -120%,
    gold,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #cf1261,
    #d61039,
    #de0d0d,
    #ee6907,
    #f79d03,
    gold,
    gold,
    gold);
}
#route-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 80%;
}

.Link {
  margin-inline-start: 60px;
  letter-spacing: 0.1em;
  transition: 0.5s;
  transition: text-shadow 0.3s;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: conic-gradient(
    from 0deg,
    #ff0000,
    #ff9900,
    #33cc33,
    #3399ff,
    #cc33cc,
    #ff0000
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
@media (max-width: 700px) {
  #route-header {
    width: 90%;
  }
  .Link {
    margin-inline-start: 30px;
  }
}
@media (max-width: 550px) {
  #route-header {
    width: 100%;
  }
  .Link {
    margin-inline-start: 20px;
  }
}
ul > li > a:focus, ul > li > a:hover{
  text-decoration: none;
  background: conic-gradient(
    from 90deg at 50% -120%,
    gold,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #cf1261,
    #d61039,
    #de0d0d,
    #ee6907,
    #f79d03,
    gold,
    gold,
    gold);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* display: inline-block; */
}
.active {
  font-size: x-large;
  background: conic-gradient(
    from 90deg at 50% -120%,
    gold,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #cf1261,
    #d61039,
    #de0d0d,
    #ee6907,
    #f79d03,
    gold,
    gold,
    gold);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
